body {
    margin: 0px;
    padding: 0px;
}

#sign_box {
    width: 100%;
    height: 500px;
    padding-top: 100px;
    background-image: url("https://res.cloudinary.com/freshly/image/upload/c_crop,g_auto,dpr_auto,q_30,w_1500,h_900/v1494958610/joinnow-southchicken.jpg");
    background-size: cover;
    background-position: center;
}

.sign_page {
    margin: auto;
    padding: 0 40px 10px;
    background-color: rgb(255, 253, 252, 0.78);
    box-shadow: 0 32px 64px 0 rgba(0, 0, 0, 0.2);
}

.sign_page h1 {
    margin: auto;
}

.sign_page > h1:nth-child(2) {
    font-size: 30px;
}

.dinner_ready_text {
    font-size: 48px;
    padding-top: 40px;
    padding-bottom: 30px;
}

#email_sign {
    margin-top: 50px;
    width: 45%;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid black;
    padding-left: 15px;
}

#zip_sign {
    width: 20%;
    margin-left: 15px;
    margin-right: 10px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 20px;
    padding-left: 15px;
}

#continue_sign {
    width: 20%;
    height: 55px;
    /* padding-top: 10px; */
    background-color: #3167ff;
    color: white;
    border: none;
    font-size: 20px;
}

.sign_page h5 {
    font-size: 13px;
}

#accordion {
    width: 100%;
}

#accordion .contentBx {
    width: 1000px;
    margin: 20px auto;
    position: relative;
}

#accordion .contentBx .label {
    position: relative;
    padding: 10px;
    cursor: pointer;
}

.label {
    font-weight: 600;
    font-size: 17px;
}

.label:hover {
    color: #2A6DFF;
}

#accordion .contentBx .label::before {
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5rem;
}

#accordion .contentBx .content {
    position: relative;
    background: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}

#accordion .contentBx .active .content {
    height: 170px;
    padding: 10px;
}

.common_text {
    font-size: 48px;
    text-align: center;
}

.line_hr {
    width: 1000px;
}

#nav {
    width: 100%;
    height: 70px;
    position: fixed;
    display: flex;
    background-color: white;
}

#nav div {
    display: flex;
}

.nav_detalis {
    margin-left: 350px;
    margin-right: 240px;
    gap: 20px;
    color: #d0d0d0;
}

.nav_choose_plan {
    display: none;
}

.logo-img {
    width: 104px;
    height: 24px;
}

.fa {
    margin-top: 18px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 24px;
}

.question_mark {
    margin-top: 20px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

#input {
    margin-bottom: 50px;
}


@media only screen and (max-width:600px) {
    .sign_page {
        width: 95%;
        padding: 0 10px 10px;
    }

    .contentBx {
        width: 100%;
    }

    #email_sign {
        width: 96%;
        margin-bottom: 20px;
    }

    #zip_sign {
        width: 96%;
        margin-left: 0;
        margin-bottom: 20px;
    }

    #continue_sign {
        width: 100%;
    }

    #sign_box {
        height: 625px;
    }
}

@media only screen and (min-width:600px) {
    .sign_page {
        width: 80%;
    }

    .contentBx {
        width: 100%;
    }
}

@media only screen and (min-width:1000px) {
    .sign_page {
        width: 50%;
    }

    .contentBx {
        width: 80%;
    }
}