body {
    margin: 0px;
    padding: 0px;
}

#sign_box {
    width: 100%;
    height: 500px;
    background-image: url("https://res.cloudinary.com/freshly/image/upload/c_crop,g_auto,dpr_auto,q_30,w_1500,h_900/v1494958610/joinnow-southchicken.jpg");
    padding-top: 100px;
}

.sign_page {
    width: 50%;
    height: 430px;
    margin: auto;
    background-color: #ffffff80;
    box-shadow: 0 32px 64px 0 rgba(0, 0, 0, 0.2);
}

.sign_page h1 {
    width: 80%;
    margin: auto;
}

.dinner_ready_text {
    font-size: 48px;
    padding-top: 40px;
    padding-bottom: 30px;
}

#email_sign {
    margin-top: 50px;
    margin-left: 70px;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    font-size: 30px;
    border: 1px solid black;
}

#zip_sign {
    width: 100px;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
}

#continue_sign {
    width: 140px;
    height: 50px;
    padding-top: 10px;
    background-color: #3167ff;
    color: white;
    border: none;
}

.sign_page h5 {
    margin-left: 70px;
}

#accordion {
    width: 100%;
}

#accordion .contentBx {
    width: 1000px;
    margin: 20px auto;
    position: relative;
}

#accordion .contentBx .label {
    position: relative;
    padding: 10px;
    cursor: pointer;
}

#accordion .contentBx .label::before {
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5rem;
}

#accordion .contentBx .content {
    position: relative;
    background: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}

#accordion .contentBx.active .content {
    height: 170px;
    padding: 10px;
}

.common_text {
    font-size: 48px;
    text-align: center;
}

.line_hr {
    width: 1000px;
}

#nav {
    width: 100%;
    height: 70px;
    position: fixed;
    display: flex;
    background-color: white;
}

#nav div {
    display: flex;
}

.nav_detalis {
    margin-left: 350px;
    margin-right: 240px;
    gap: 20px;
    color: #d0d0d0;
}

.nav_choose_plan {
    display: none;
}

.logo-img {
    width: 104px;
    height: 24px;
}

.fa {
    margin-top: 18px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 24px;
}

.question_mark {
    margin-top: 20px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}