/* ------navbar Css----- */


body{
  
   font-family: 'Poppins', sans-serif;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255,253,247);
    font-family: 'Poppins', sans-serif;
    position: sticky;
    top: 0;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    z-index: 2;
}
#navbar-menu{
    display: flex;
    margin-top: 10px;
}

#navbar li{
    list-style-type:none;
}

#navbar a{
    text-decoration: none;
    color: #303030;
    padding: 9px;
    font-weight: 700;
    font-size: 14px;
}

#navbar a:hover{
    color: #0D6EFD;
}
.logo-img{
    width: 104px;
    height: 24px;
}

#navbar-sec3{
    display: flex;
    align-items: center;
}

#navbar-sec3 button{
    height: 33px;
    font: 15px;
    margin-left: 10px;
}

/* -----Section-1------ */

#p1-section-1{
  display: grid;  
  grid-template-columns: 50% 50%;
  
}

#p1sec1-sec1{
    background-color:rgb(254,249,234) ;
}

#p1sec1-sec2{
    background:url('https://assets-global.website-files.com/5d03b4e130118314af624b20/5d9282e1d3e06c159fc47ad5_home_image-small.jpg');
}
#p1sec1-img{
    max-width: 100%;
}

#p1sec1-h1{
    margin-bottom: 5px;
    font-size: 52px;
    width: 80%;
    margin-top: 100px;
    font-weight:700;
   
}

#p1sec1-sec1 h4{
    margin-top: 55px;
   font-size: 21px;
}

#p1sec1-sec1{
    padding-left: 70px;
}
#p1sec1-form label{
    font-weight: 600;
    margin: 7px 0px;
}

#p1sec1-form input{
    outline: none;
    
}

#p1sec1-form input[type=email]{
width: 89%;
background-color: #F7F7F7;
border: none;
height: 38px;
}

#p1sec1-form input[type=number]{
    width: 63%;
    background-color: #F7F7F7;
    border: none;
    height: 44px;
    }
    #p1sec1-form input[type=submit]{
        font-size: 19px;
    }



#p1sec1-sec1 p{
width: 67%;
font-size: 14px;
line-height: 1.7;
margin-top: 10px;
padding-bottom: 70px;
    }

    /*  gif css */
    #gif{
        width: 100%;
        height: 430px; 
    }
    #gif{
        width: 90%;
        margin: auto;
    }
    .gif_img{
        width: 320px;
        height: 300px;
    }

#p1-section-2{
    background-color: rgb(255,253,247);
}
#p1sec2-h1,#review-h1{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding-top: 50px;
}

#p1sec2-gifsec div{
    height: 200px;
    -webkit-text-size-adjust: 100%;
    font-family: Favoritfreshly,sans-serif;
    color: #333;
    font-size: .875rem;
    line-height: 1.43em;
    font-weight: 400;
    cursor: default;
    -webkit-box-direction: normal;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: translate3d(0px, 0px, 0px);
}


/* -----Review Section----- */


#review-sec{
    background-color:#FFFDF7 ;
    padding-bottom: 50px;
}
.review img{
    height: 24px;
    width: 166px;
}

#review-box{
    display: flex;
justify-content: space-around;
}
.review{
    width: 30%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-h5{
    text-align: center;
}

#review-sec{
    margin-top: 50px;
}
#review-h1{
    margin-bottom: 30px;
}

.review-p1{
    margin: 7px;
    margin-bottom: 15px;
}

.review-p2{
    text-align: center;
   
}


/* Main Menu */


#tomoto_box{
    width: 100%;
    height: 920px;
    background-image: url('https://assets-global.website-files.com/5d03b4e130118314af624b20/5d94e04ff2b857688f7138b6_home_image2.jpg');
    padding-top: 50px;
}
.menu_detalis{
    width: 740px;
    height: 790px;
    margin: auto;
    background: white;
}
.menu_detalis > h1{
    font-size: 43px;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.menu_detalis > h3 {
    width: 90%;
    margin-top: 10px;
    padding-left: 30px;
    font-size: 18px;
    margin-bottom: 40px;
}
#menu_detalis_img{
    width: 80%;
     height: 70%;
     margin: auto;
      display: grid;
      grid-template-areas: 
                     'first_img second_img third_img'
                     'four_img  five_img  six_img';
      grid-gap: 10px;
}
#menu_detalis_img div {
    width: 171px;
    height: 222px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}
#menu_detalis_img div:hover{
    background: rgb(247, 247, 247);
    cursor: pointer;
}
#menu_detalis_img div h3{
 margin-top: 20px;
 margin-left: 15px;
 text-align: left;
 font-size: 17px;
}
.items_menu1{
    grid-area: first_img;   
}
.items_menu2{
    grid-area: second_img;
}
.items_menu3{
    grid-area: third_img;
}
.items_menu4{
    grid-area: four_img;
}
.items_menu5{
    grid-area: five_img;
}
.items_menu6{
    grid-area: six_img;
}
.img_page_menu{
    width: 171px;
    border-radius: 10px;
    width: 171px;
    height: 121px;
}
.view_plan_menu{
    width: 200px;
    height: 43px;
    font-size: 18px;
     text-align: center; 
     padding-top: 10px;
    margin: auto;
    color: white;
    background: #3167ff;
}
#choose_plan{
    width: 100%;
    height: 500px;
    margin-top: 50px;
}
#choose_plan > h1{
    font-size: 48px;
    text-align: center;
    width: 600px;
    margin: 20px auto;
    margin-bottom: 20px;
}
#choose_plan > h2{
    text-align: center;
    width: 700px;
    margin: auto;
    font-size: 18px;
}
.choose_plan_price{
    width: 90%;
    margin: 30px auto;
    display: grid;
    grid-template-areas: 'price4 price6 price8 price10 price12';
    grid-gap: 25px;
}
.meal_price{
    width: 220px;
    height: 260px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.meals_4{grid-area: price4; }
.meals_6{ grid-area: price6;}
.meals_8{grid-area: price8; }
.meals_8{ grid-area: price10;}
.meals_12{grid-area: price12; }

.meal_text_h1{
    margin-top: 50px;
    font-size: 30px;
}
.choose_plan_price > div > h5 {
    font-size: 14px;
    color: rgb(184, 184, 184);
}
.choose_plan_price > div > h3 {
    font-size: 18px;
    margin-top: 40px;
}
#choose_btn_price{
    width: 170px;
    height: 40px;
    background: #3167ff;
    border: none;
    font-size: 16px;
    color: white;
    margin-top: 20px;
}


/* footer */


#footer{
    width: 80%;
    height: 400px;
    margin: 20px auto;
    display: grid;
    grid-template-areas: 'first_footer second_footer third_footer four_footer';
}
#footer > div {
    margin: 0 30px;
}
.first_part_footer{grid-area: first_footer;}
.second_part_footer{grid-area: second_footer;}
.third_part_footer{grid-area: third_footer;}
.four_part_footer{grid-area: four_footer;}

.playstore_img{
    width: 100px;
    height: 30px;
} 
.social_media{
    width: 30px;
    height: 30px;
}
.footer_part ul li {
    margin-top: 20px;
}
.footer_part ul li img {
    width: 150px;
    height: 45px;
}
 
.footer_part ul li a {
    margin-top: 30px;
    text-decoration: none;
    color: #666666;
}
.footer_part ul li:nth-child(1) a img {
    width: 100px;
}
.footer_part ul li a img {
    width: 20px;
    height: 20px;
}
.footer_part ul li .company_footer{
    color: black;
}
.img_freshly_footer{
    width: 115px;
    height: 26px;
}
.footer_part ul {
    width: 200px;
    list-style-type: none;
}


/* section 6 and 7 */


#weekly > div:nth-child(1){
    background-image: url("https://assets-global.website-files.com/5d03b4e130118314af624b20/60928e2ceb6cb2368a43ad07_Freshly_GiftCardRedemption_1732x1416%20(1).jpg");
    background-size: cover;
    background-position: center;
}
#weekly > div:nth-child(2) {
    background-color: white;
    padding: 10px 10px 30px 40px;
}
#weekly > div:nth-child(2) > h1 {
    font-size: 45px;
    width: 80%;
}
#weekly > div:nth-child(2) > div {
    width: 70%;
}
#weekly > div:nth-child(2) > div > input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 10px;
    border-radius: 5px;
    border-color: rgb(219, 219, 219);
}
#weekly > div:nth-child(2) > div > button {
    width: 70%;
    height: 50px;
    margin-bottom: 30px;
    font-size: 20px;
    color: white;
    background-color: #3167FF;
    border: 0;
}
#weekly > div:nth-child(2) > div > button:hover {
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(51, 75, 212, 0.4);
}
#weekly > div:nth-child(2) > p {
    line-height: 8px;
}



#believe {
    margin: auto;
    margin-top: 80px;
}
#believe > div:nth-child(1) {
    background-color: white;
    padding: 30px;
}
#believe > div:nth-child(1) > h1 {
    font-size: 50px;
}
#believe > div:nth-child(1) > p {
    font-size: 17px;
    line-height: 25px;
}
#believe > div:nth-child(1) > button {
    width: 150px;
    height: 50px;
    font-size: 20px;
    color: white;
    background-color: #3167FF;
    border: 0px;
}
#believe > div:nth-child(1) > button:hover {
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(51, 75, 212, 0.4);
}
#believe > div:nth-child(2) {
    background-image: url("https://assets-global.website-files.com/5d03b4e130118314af624b20/5d9282e1d3e06c159fc47ad5_home_image-small.jpg");
    background-size: cover;
    background-position: center;
}

/* slid show Curser */
 #slide_show{
    width: 100%;
    height: 500px;
    margin-top: 100px;
    background-color: #fffDF7;
    grid-area: text;
} 
#cursor_slide{
    display: grid;
grid-template-areas: 'prevbtn text nextbtn';
}
#previous , #next {
    cursor: pointer;
      margin-top: 60%;
    width: auto;
     padding: 16px; 
    font-weight: bold;
     font-size: 20px; 
     user-select: none;
     color: #0D6EFD;
    -webkit-user-select: none; 
    }
    #previous{
        grid-area: prevbtn;
        margin-left: 90%;
    } 
    #next{
        grid-area: nextbtn;
    }
    .what_other_say_text{
        font-size: 48px;
        text-align: center;
        padding-top: 30px;
    }
    #data_slideShow{
        width:90%;
        height:300px;
        margin:auto;
        text-align: center;
        display: grid;
        grid-gap: 30px;
        grid-template-areas: 'first second three';
    }
    .text1{grid-area:first;}
    .text2{grid-area:second;}
    .text3{grid-area:three;}
    #data_slideShow div{
        width: 300px;

    }

@media only screen and (max-width:600px) {
    #believe {
        position: relative;
    }
    #believe > div:nth-child(2) {
        width: 100%;
    }
    #believe > div:nth-child(1) {
        position: absolute;
        left: 10%;
        top: 10%;
        width: 70%;
    }
    #believe > div:nth-child(2) {
        width: 100%;
        height: 650px;
    }

    #weekly {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 50px;
    }
    #weekly > div:nth-child(1) {
        width: 100%;
        height: 650px;
    }
    #weekly > div:nth-child(2) {
        width: 90%;
    }
    #weekly > div:nth-child(2) > p {
        line-height: 17px;
    }
}

@media only screen and (min-width:600px){
    #believe {
        position: relative;
    }
    #believe > div:nth-child(2) {
        width: 100%;
    }
    #believe > div:nth-child(1) {
        position: absolute;
        left: 10%;
        top: 20%;
        width: 70%;
    }
    #believe > div:nth-child(2) {
        width: 100%;
        height: 650px;
    }


    #weekly {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 50px;
    }
    #weekly > div:nth-child(1) {
        width: 100%;
        height: 650px;
    }
    #weekly > div:nth-child(2) {
        width: 90%;
    }
    #weekly > div:nth-child(2) > p {
        line-height: 17px;
    }
}

@media only screen and (min-width:1000px){
    #believe {
        position: relative;
        width: 95%;
        height: 700px;
    }
    #believe > div:nth-child(1) {
        position: absolute;
        left: 0;
        top: 25%;
        width: 730px;
    }
    #believe > div:nth-child(2) {
        position: absolute;
        z-index: -1;
        right: 0;
        width: 830px;
        height: 700px;
    }


    #weekly {
        position: relative;
        width: 95%;
        height: 700px;
        margin-top: 130px;
    }
    #weekly > div:nth-child(1) {
        position: absolute;
        z-index: -1;
        left: 0;
        width: 850px;
        height: 700px;
    }
    #weekly > div:nth-child(2) {
        position: absolute;
        right: 0;
        top: 15%;
        width: 730px;
    }
}

